@import "../../node_modules/swiper/css/swiper";
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

@mixin respond-to($media) {
    @if $media == mobile {
      @media only screen and (max-width: 375px) { @content; }
    }
    @else if $media == wide-mobile {
      @media only screen and (min-width: 376px) and (max-width: 767px) { @content; }
    }
    @else if $media == tablets {
      @media only screen and (min-width: 768px) and (max-width: 1023px) { @content; }
    }
    @else if $media == laptop {
        @media only screen and (min-width: 1024px) and (max-width: 1439px) { @content; }
      }
    @else if $media == wide-laptop {
        @media only screen and (min-width: 1440px)  { @content; }
      }
}
 @mixin justify-content($property) {
    -webkit-justify-content: $property;
    -moz-justify-content: $property;
    justify-content: $property;
  }
  @mixin align-items($property) {
    -webkit-align-items: $property;
    -moz-align-items: $property;
    align-items: $property;
  }
  @mixin animation-duration($property) {
    -webkit-animation-duration: $property;
    -moz-animation-duration: $property;
    animation-duration: $property;
  }
  @mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    transform: $property;
  }
  @mixin animation-name($property) {
    -webkit-animation-name: $property;
    -moz-animation-name: $property;
    animation-name: $property;
  }
  @mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    transition: $property;
  }

@font-face{
    font-family: 'Schnyder Cond XL Demi';
    src: url('../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.ttf')
}

@font-face {
    font-family: 'TT Travels Light';
    src: url("../fonts/TT_Travel/TTTravels-Light.ttf")
}
@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT\ America\ Bold.ttf')
}
$slider-color: #580300;
$font-color: #000000;
$main-font: 'TT Travels Light';
$slider-font: 'Schnyder Cond XL Demi';
$logo-font: 'GT America';
$animation-time: 4s;
* {
    box-sizing: border-box;
}
html {
    cursor: none !important;
}
body{
    overflow-x: hidden;
}
#pointer-dot {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2.5px solid white;
    position: fixed;
    border-radius: 4px;
    z-index: 1;
    pointer-events: none;
    @include transition(border-color 0.5s);
}

#pointer-ring {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 15px;
    border: 1px solid $font-color;
    opacity: 0.4;
    position: fixed;
    border-radius: 100px;
    z-index: 100;
    pointer-events: none;
}
.header{
    position: relative;
    z-index: 1;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    @include justify-content(space-between);
    height: 93px;
    &_logo{
        display: flex;
        width: 102px;
        height: 16px;
        margin-left: 47px;
        margin-top: 27px;
        opacity:0; 
        @include transition(1s);
        -moz-animation: show 3s 1;
        -webkit-animation: show 3s 1;
        animation: show 3s 1; 
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; 
        -moz-animation-delay: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        @-moz-keyframes show{
            0% {
            opacity:0;
                }
            100% {
            opacity:1;
                }
            }
        @-webkit-keyframes show{
            0% {
            opacity:0;
                }
            100% {
            opacity:1;
                }
            } 
        @keyframes show{
            0% {
            opacity:0;
                }
            100% {
            opacity:1;
                }
            }
        &_text{
            font-family: $logo-font;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: -1px; 
        }
    }
    &_nav{
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 43px;
        @include animation-name(slideLeft);
        @include animation-duration($animation-time);
        animation-timing-function: ease-in-out; 
        -webkit-animation-timing-function: ease-in-out;     
        -moz-animation-timing-function: ease-in-out; 

        &_menu{
        list-style-type: none;
        text-decoration: none;
        font-family: $main-font;
        font-size: 11px;
        text-transform: capitalize;
        font-weight: 300;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-align: right;
        color: $font-color;
        padding: 5px;
        cursor: none;
         }
        @include respond-to(mobile) {
        display: none;
        }
        @include respond-to(wide-mobile) {
        display: none;         
        }
        &-mobile{
            display: none;
            @include respond-to(mobile) {
                display: -moz-flex;
                display: -webkit-flex;
                display: flex;
                flex-direction: column;
                @include align-items(center);
                position: absolute;
                width: 20px;
                height: 9px;
                right: 20px;
                top: 20px;

                }
                @include respond-to(wide-mobile) {
                display: -moz-flex;
                display: -webkit-flex;
                display: flex; 
                @include align-items(center);
                flex-direction: column; 
                position: absolute;
                width: 20px;
                height: 9px;
                right: 24px;
                top: 24px;       
                }
                hr{
                    width: 20px;
                }
        }
    }
    @keyframes slideLeft {
        0% {
            transform: translateX(150%);
        }
        50%{
            transform: translateX(-8%);
        }
        65%{
            transform: translateX(4%);
        }
        80%{
            transform: translateX(-4%);
        }
        95%{
            transform: translateX(2%);
        }           
        100% {
            transform: translateX(0%);
        }
    }
     
    @-webkit-keyframes slideLeft {
        0% {
            -webkit-transform: translateX(150%);
        }
        50%{
            -webkit-transform: translateX(-8%);
        }
        65%{
            -webkit-transform: translateX(4%);
        }
        80%{
            -webkit-transform: translateX(-4%);
        }
        95%{
            -webkit-transform: translateX(2%);
        }           
        100% {
            -webkit-transform: translateX(0%);
        }
    }
    @-moz-keyframes slideLeft {
        0% {
            -moz-transform: translateX(150%);
        }
        50%{
            -moz-transform: translateX(-8%);
        }
        65%{
            -moz-transform: translateX(4%);
        }
        80%{
            -moz-transform: translateX(-4%);
        }
        95%{
            -moz-transform: translateX(2%);
        }           
        100% {
            -moz-transform: translateX(0%);
        }
    }
    
}
.main{
    display: block;
    height: 100%;
    &_background-image{
        position: absolute;
        z-index: 10;
        width: 608.38px;
        height: 726.48px;
        left: 473px;
        top: 7px;
        @include respond-to(mobile) {
            width: 339px;
            height: 429px;
            left: 18px;
            top: 62px;
        }
        @include respond-to(wide-mobile) {
            width: 392px;
            height: 493px;
            left: 11px;
            top: 51px;
        }
        @include respond-to(tablets) {
            width: 628px;
            height: 789px;
            left: 70px;
            top: 85px;            
        }
        @include respond-to(laptop) {
            width: 506px;
            height: 605px;
            left: 259px;
            top: 32px;           
        }
    }
}
path {
    -moz-stroke-width: 2;
    -webkit-stroke-width: 2;
    stroke-width: 2;
    -moz-stroke-dasharray: 300%;
    -webkit-stroke-dasharray: 300%;
    stroke-dasharray: 300%;
    -moz-stroke-dashoffset: -300%;
    -webkit-stroke-dashoffset: -300%;
    stroke-dashoffset: -300%;
    -moz-animation: dasharray 5s linear forwards;
    -webkit-animation: dasharray 5s linear forwards;
    animation: dasharray 5s linear forwards;
  } 
  
  @-moz-keyframes dasharray {
    100% {
      -moz-stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dasharray {
    100% {
      -webkit-stroke-dashoffset: 0;
    }
  }
  @keyframes dasharray {
    100% {
      stroke-dashoffset: 0;
    }
  }
.swiper-container {
    width: 100%;
    height: 109px;
    position: absolute;
    top: 376px;
    z-index: 50;
    @include animation-name(slideDown);
    @include animation-duration($animation-time);
    
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease; 
    -moz-animation-timing-function: ease;
    @include respond-to(mobile) {
        top: 259.5px;  
        height: 38px;  
    }
    @include respond-to(wide-mobile) {
        top: 277px;
        height: 42px;        
    }
    @include respond-to(tablets) {
        top: 438px; 
        height: 83px;         
    }
    @include respond-to(laptop) {
        top: 305px;  
        height: 83px;       
    }
  }
  @keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}
 
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%);
    }
    50%{
        -moz-transform: translateY(8%);
    }
    65%{
        -moz-transform: translateY(-4%);
    }
    80%{
        -moz-transform: translateY(4%);
    }
    95%{
        -moz-transform: translateY(-2%);
    }           
    100% {
        -moz-transform: translateY(0%);
    }   
}

  .swiper-container_title{
    opacity: 0;
    position: absolute;
    z-index: 50;
    left: 70rem;
    top: 20rem;
    display: block;
    font-family: $main-font;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include respond-to(mobile) {
        left: 15rem;
        top:10rem  
    }
    @include respond-to(wide-mobile) {
        left: 15rem;
        top:10rem         
    }
    @include respond-to(tablets) {
        left: 40rem;
        top:20rem         
    }
    @include respond-to(laptop) {
        left: 50rem;
        top:15rem         
    }

  }
  .main_swiper-container:hover .swiper-container_title{
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }
  .main_swiper-container .swiper-container_title {
    @include transition(1s);
}

  .swiper-slide {
    text-align: center!important;
    background: none;
    width: 609px!important;
    font-family: $slider-font;
    font-size: 125.581px;
    line-height: 86%;
    text-transform: uppercase;
    color: $slider-color;
    
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    @include justify-content(center);
    @include align-items(center);
    mix-blend-mode: darken;

    @include respond-to(mobile) {
        width: 214px!important;
        left: 80.92px;    
        font-size: 44px;    
    }
    @include respond-to(wide-mobile) {
        width: 233px!important;
        left: 90.02px; 
        font-size: 48px;         
    }
    @include respond-to(tablets) {
        width: 466px!important;
        font-size: 96px;         
    }
    @include respond-to(laptop) {
        width: 466px!important;
        font-size: 96px;         
    }
    &-prev{
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-text-stroke: 1px $slider-color;
        box-sizing: border-box;
       @include transform(rotate(-1.5deg));
    }
    &-active{
        color: $slider-color;
    }
    &-next{
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        color: transparent;
        -webkit-text-stroke: 1px $slider-color;
        box-sizing: border-box;
        @include transform(rotate(1.5deg));
    }
  }
.main_gallery{
    height: 100%;
  }

.main_gallery_item:first-child img{
    position: absolute;
    z-index: 20;
    width: 476px;
    height: 702px;
    left: 491.27px;
    top: 73.89px;
    object-fit: cover;
    @include transform(rotate(1.5deg));
    @include respond-to(mobile) {
        width: 249.67px;
        height: 368.56px;
        left: 68.18px;
        top: 89px;
    }
    @include respond-to(wide-mobile) {
        width: 273px;
        height: 403px;
        left: 76px;
        top: 93px;
    }
    @include respond-to(tablets) {
        width: 359px;
        height: 530px;
        left: 205.19px;
        top: 210px;
    }
    @include respond-to(laptop) {
        width: 359px;
        height: 530px;
        left: 339px;
        top: 82px;
    }
}
.main_gallery_item:nth-child(2) img{
    position: absolute;
    z-index: 15;
    width: 238px;
    height: 331px;
    left: 229.19px;
    top: 201.76px;
    @include transform(rotate(1.1deg));
    object-fit: cover;
    @include respond-to(mobile) {
       display: none
    }
    @include respond-to(wide-mobile) {
       display: none
    }
    @include respond-to(tablets) {
        width: 163px;
        height: 226px;
        left: 28.32px;
        top: 318px;
    }
    @include respond-to(laptop) {
        width: 163px;
        height: 226px;
        left: 162.13px;
        top: 190px;
    }
}
.main_gallery_item:last-child img{
    position: absolute;
    z-index: 25;
    width: 345px;
    height: 238px;
    left: 890.32px;
    top: 494.97px;
    @include transform(rotate(2.03deg));
    margin:-41px;
    object-fit: cover;  
    @include respond-to(mobile) {
        display: none
     }
     @include respond-to(wide-mobile) {
        display: none
     }
     @include respond-to(tablets) {
        width: 234px;
        height: 162px;
        left: 510.56px;
        top: 601.91px;
     }
     @include respond-to(laptop) {
        width: 234px;
        height: 162px;
        left: 644.37px;
        top: 473.91px;
     }
}
.slider-images{
    -webkit-animation:  $animation-time linear forwards;
    -moz-animation:  $animation-time linear forwards;
    animation:  $animation-time linear forwards;


@-webkit-keyframes img-in {
    0% {  -webkit-opacity: 0; -webkit-transform: scale(1.05); }
   50% {  -webkit-opacity: 1; -webkit-transform: scale(1); }
  }
@-moz-keyframes img-in {
    0% {  -moz-opacity: 0; -moz-transform: scale(1.05); }
   50% {  -moz-opacity: 1; -moz-transform: scale(1); }
  }
@keyframes img-in {
    0% {  opacity: 0; transform: scale(1.05); }
   50% {  opacity: 1; transform: scale(1); }
  }

.footer_container{
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    position: absolute;
    left: 48px;
    top: 801px;
    @include respond-to(mobile) {
        left: 20px;
        top: 530px;
     }
     @include respond-to(wide-mobile) {
        left: 24px;
        top: 595px;
     }
     @include respond-to(tablets) {
        left: 32px;
        top: 924px;
     }
     @include respond-to(laptop) {
        left: 32px;
        top: 668px;
     }
    &_item{
    font-family: $main-font;
    font-size: 11px;
    letter-spacing: 0.02em;
    line-height: 13px;
    }
}
